{
	"name": "xen-vm",
	"reproduce": false,
	"target": "linux/amd64",
	"http": "localhost:56700",
	"workdir": "",
	"syzkaller": "",
	"sshkey": "/home/zsm/testing_rsa",
	"type": "isolated",
	"procs": 1,
	"vm": {
		"targets": [""],
		"target_dir": "/tmp",
		"target_reboot": false,
		"pstore": false,
		"xen_config": {
			"domain_names": ["ubuntu-hvm"],
			"domain_cfgs": ["/etc/xen/ubuntu-hvm.cfg"]
		}
	}
}
